# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/comap_app/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# pythom env
comap_server/.venv/
comap_server/__pycache__/
comap_server/.vscode/
*.pyc
__pycache__
.env

/postgres_data
comap_server/baresoil-flood.tif
comap_server/s2.tif
comap_server/TCI.tif
node_modules
.vscode/launch.json
comap_app/package-lock.json
